@font-face {
  font-family: Minion-Pro;
  src: url("../fonts/Minion-Pro.ttf"); }

.wrapper-header {
  padding: 30px; }

header h1 {
  position: relative;
  font: Minion-Pro;
  font-size: 3.5vw;
  display: inline; }

header h2, form {
  display: inline; }

header form {
  float: right; }

.navbar {
  display: inline; }

.navbar a {
  text-decoration: none;
  color: none; }
