@font-face {
	font-family: Minion-Pro;
	src: url('../fonts/Minion-Pro.ttf');
}

$maincolor: #787878;
$nav: #f9f9f9;
$banner: #f3f3f3;

.wrapper-header {
	padding: 30px;
}

header h1 {
	position: relative;
	font: Minion-Pro;
	font-size: 3.5vw;
	display: inline;
}

header h2,form {
	display: inline;
}

header form {
	float: right;
}

.navbar {
	display: inline;
}

.navbar a {
	text-decoration: none;
	color: $maincolor;
}

.menu {
	margin: 20px;
	padding: 20px;
	background-color: $nav;
	border-style: solid;
	border-color: red;
}

.banner {
	margin-top: 30px;
	padding: 50px;
	background-color: $banner;
}

.banner h1 {
	font-size: 5vh;
	text-align: center;
}

.banner p {
	font-size: 3.5vh;
	text-align: center;
}

.image figure {
	text-align: center;
	padding: 30px;
}

.list-cards li {
	height: 180px;
	width: 25%;
	border: solid;
	border-color: gray;
}

.list-cards {
	display: flex;
	flex-wrap: wrap;
}

.container-comments, .container-team {
	width: 60%;
}

.quotes {
	padding: 30px;
}

.comments-team {
	padding: 30px;
	display: flex;
}

.container-team ul li {
	padding: 30px;
}

.team-img {
	display: flex;
}

.text.wrapper {
	padding: 10px;
}

.footer-wrapper {
	display: flex;
}